<div class="container ml-5">
    <div class="row">
        <h1>Burgers</h1>
    </div>


    <div class="row mt-3">
        <form action="/burgers" method="POST" id="create-form" class="button-size">
            <label for="bur">Order your own burger!</label>
            <input type="text" id="burgername" name="burger_name">
            <button type="submit">Almost mine!</button>
        </form>
    </div>

    <div class="row mt-5">
        <div class="col">
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                <li>
                    <p>{{this.id}}. {{this.burger_name}}
                        {{!-- button for devouring --}}
                        <button data-id="{{this.id}}" data-state="{{devoured}}" class="devoured" id="eatme">Eat me
                            now!</button>
                    </p>
                </li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div class="col">
            <div class='eaten'>
                {{this.burger_name}}

                <ul>
                    {{#each burgers}}
                    {{#if devoured}}
                    <p> {{this.id}} - {{this.burger_name}}</p>

                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    $("#create-form").on("submit", function (event) {
        event.preventDefault();

        var newBurger = {
            burger_name: $("#burgername").val().trim(),
            devoured: 0
        };

        $.ajax("/api/burgers", {
            type: "POST",
            data: newBurger
        }).then(function () {
                console.log("new burger?");
                location.reload();
            });
    });

    $(".devoured").on("click", function(event) {
        event.preventDefault();

        var id = $(this).data("id");
        var eaten = {
            devoured: 1
        };

        $.ajax("/api/burgers/" + id, {
            type: "PUT",
            data: eaten
        }).then(function () {
                console.log("eaten?");
                location.reload();
            });
    });

</script>